/target/
.gradle
.idea
.classpath
.project
.settings
*.iml
debugout.log
*.log
.DS_Store
node_modules/
springboot-server/build/
springboot-server/out/
vue-ui/dist
vue-ui/dist/*
vue-ui/src/auth/auth0-variables.js
npm-debug.log
yarn-error.log
test/unit/coverage
test/e2e/reports
selenium-debug.log
.env
