/target/
.gradle
.idea
.classpath
.project
.settings
*.iml
debugout.log
*.log
.DS_Store
node_modules/
springboot-server/build/
npm-debug.log
yarn-error.log
test/unit/coverage
test/e2e/reports
selenium-debug.log
.env
